<!--https://github.com/BenjaminBrandmeier/angular2-image-gallery/blob/master/README.md-->

<div class="gallery-header">
    <h1 class="header1" title="Autosattlerei Schneider Galerie">Unsere Galerie</h1>
    <h5 class="header2">Werfen Sie einen Blick auf von uns erledigten Sitzbezügen und lassen Sie sich von der Qualität begeistern. Hier finden Sie den Zustand der Sitze vor und 
        die Neubezüge nach der Bearbeitung.
    </h5>
</div>
    <div class="gallery-container">
        <gallery></gallery>
    </div>
