// screen sizes
$sm: 576px;
$med: 768px;
$lg: 992px;
$xl: 1200px;

$p-size-rg: 100%;
$p-size-lg: 125%;
$h-size-rg: 125%;

// browser support

@mixin crossBrowser($property, $cssVal) {
	-webkit-#{$property} :$cssVal;
	-moz-#{$property} : $cssVal;
	-o-#{$property} : $cssVal;
	#{$property} : $cssVal;
}


html, body {
     height: 100%;
}

.contact-form-container {
    max-width: 100%;
    @include crossBrowser(display, flex);
    display: flex;
    height: 87rem;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    background: url("/assets/img/contact-form-images/Schneider-sitze.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 87rem;
        top: 0;
        left: 0;
        background: url("/assets/img/contact-form-images/background-cover.png") no-repeat center;
        background-size: cover;
    }

    .contact-form-header {
        width: 70%;
        text-align: center;
        margin: 3rem auto;
        z-index: 1;
        margin-bottom: -6rem;

        .header-item {
            display: inline-block;
            width: 40%;
            padding-top: 20px;
        }

        .header-right {
            font-size: 150%;
            .imprint-list {
                list-style: none;
            }
        }
    }
    
    .contact-form-items-wrapper {
        display: flex;
        flex-direction: row;
        margin: auto 0;
        max-width: 140rem;
        width: 100%;
        align-self: center;
        z-index: 1;

        .contact-form-item {
            flex: 1;
            margin: 0 auto;
            max-width: 50rem;
            padding: 1rem;
            box-shadow: 0px 0px 13px #000;
            border-radius: 5px;
            background-color: rgba(224,224,224, 0.8);
        }

        .map {
            margin: auto;
        }
    }
}

@media (max-width: $lg) {
    .contact-form-container {

        .contact-form-header {
            display: flex;
            flex-direction: column;
            .header-item {
                width: 90%;
                margin: auto;
            }
            h1 {
                font-size: 150%;
                font-weight: bold;
            }
            h5 {
                font-size: 100%;
            }
        }

        .contact-form-items-wrapper {
            flex-direction: column;
            margin: auto;
            .contact-form-item {
                margin: 1rem 0;
                align-self: center;
                width: 100%;
            }
        }
    }
}



