<div class="container contact-form-container">
  <div *ngIf="submitted" class="postSubmitContainer">
    <span>{{status}}</span>
    <p><a routerLink="/">Zurück zur Homepage</a></p>
  </div>
  <h1 class="header1">Kontakt</h1>
  <div *ngIf="!submitted" class="contact-form-items-wrapper">

    <div class="contact-form-item-unit cf-unit">
      <p class="contact-form-message message1"> Schreiben Sie uns eine Nachricht </p>
      <form novalidate [formGroup]="refForm" (ngSubmit)="onSubmit(refForm, refForm.isValid)" class="contact-form-item input-section">
        <div class="form-group">
          <label>
            <span>Name</span>
          </label>
          <input type="text" formControlName="Name" class="form-control" placeholder="">
          <div [hidden]="refForm.controls.Name.valid || refForm.controls.Name.pristine" class="alert alert-danger">
            <span *ngIf="!refForm.controls.Name.valid">Name ist erforderlich</span>
          </div>
        </div>
        <div class="form-group">
          <label>
            <span>E-Mail </span>
          </label>
          <input type="text" formControlName="Email" class="form-control" placeholder="">
          <div [hidden]="refForm.controls.Email.valid || refForm.controls.Email.pristine" class="alert alert-danger">
            <span *ngIf="refForm.controls.Email.errors && refForm.controls.Email.errors.required"> E-Mail ist erforderlich </span>
            <span *ngIf="refForm.controls.Email.errors && refForm.controls.Email.errors.pattern && !refForm.controls.Email.errors.required ">Ungültige Email-Adresse</span>
          </div>
        </div>
        <div class="form-group">
          <label>
            <span>Tel. No. </span>
          </label>
          <input type="text" formControlName="TelNo" class="form-control" placeholder="">
          <div [hidden]="refForm.controls.TelNo.valid || refForm.controls.TelNo.pristine" class="alert alert-danger">
            <span *ngIf="!refForm.controls.TelNo.pattern">Ungültige Telefonnummer</span>
          </div>
        </div>
        <div class="form-group">
          <label>
            <span>Nachricht</span>
          </label>
          <textarea formControlName="Message" class="form-control" placeholder=""></textarea>
          <div [hidden]="refForm.controls.Message.valid || refForm.controls.Message.pristine" class="alert alert-danger">
            <span *ngIf="!refForm.controls.Message.valid">Nachricht ist erforderlich</span>
          </div>
        </div>
        <div>
          <re-captcha (resolved)="resolved($event)" formControlName="recaptchaReactive" siteKey="6LeHP80ZAAAAAB3U8hk5gNZYGMjGyT54Y2QXscZi"></re-captcha>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!refForm.valid || !captchaValidated">Senden</button>
      </form>
      </div>

      <div class="contact-form-item-unit map-unit">
        <p class="contact-form-message message2">Besuchen Sie uns in Vogelsberg</p>
        <app-map class="contact-form-item map"></app-map>
      </div>
    </div>
  </div>



