// screen sizes
$sm: 576px;
$med: 768px;
$lg: 992px;
$xl: 1200px;

$p-size-rg: 100%;
$p-size-lg: 125%;
$h-size-rg: 125%;

// browser support

@mixin crossBrowser($property, $cssVal) {
	-webkit-#{$property} :$cssVal;
	-moz-#{$property} : $cssVal;
	-o-#{$property} : $cssVal;
	#{$property} : $cssVal;
}


/*html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}*/

.contact-form-container {
  max-width: 100%;
  height: 100%;
  /*background: url("/assets/img/contact-form-images/Schneider-sitze.jpg") no-repeat center;
  background-size: cover;*/
  position: relative;

  h1, p {
      z-index: 1;
      text-align: center;
      margin: 1rem;
      padding-top: 1.5rem;
  }

  p {
      font-size: 150%;
  }

/*  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("/assets/img/contact-form-images/background-cover.png") no-repeat center;
    background-size: cover;
  }*/

  .contact-form-items-wrapper {
    z-index: 2;
    @include crossBrowser(display, flex);
    flex-direction: row;

    .contact-form-item {
      display: block;
      margin: 1rem;
      padding: 1rem;
      box-shadow: 0px 0px 13px #000;
      border-radius: 5px;
      background-color: rgba(224,224,224, 0.8);

      button[type=submit] {
          margin-top: 5px;
      }
     }
    .contact-form-item-unit {
        flex: 1;
        z-index: 2;
        max-width: 40%;
        margin: auto;
    }
  }
}

@media (max-width: $lg) {
    .contact-form-container {
        .contact-form-items-wrapper {
           flex-direction: column;
           div.contact-form-item-unit {
               max-width: 100%;
               width: 100%;
           }
        }
            h1 {
                font-size: 150%;
                font-weight: bold;
            }
            h5 {
                font-size: 100%;
            }
        }
    }



