<div class="homepage-container container">

   <section class="home-intro section-1 row">  
    <div class="autosattlerei-logo col-md">
      <figure class="figure figure-left">
        <h3 title="Willkommen bei Autosattlerei-Schneider">Autosattlerei Schneider - wir sind der erste und 
          direkte Ansprechspartner rund um Lederhandwerk und Autositze
        </h3>
        <img src="./assets/img/homepage-images/AS-logo3.png" alt="Autosattlerei-schneider logo" class="figure-img img-fluid">
        <figcaption class="figure-caption caption-center">
          <h1 class="homepage-text-title" title="exklusive auto und motorrad sitzbezuege"><b>EXKLUSIVE AUTO- UND MOTORRADSITZBEZÜGE</b></h1>
          <p class="homepage-info" title="Leistungskategorien">Sind Ihre Sitze veraltet, gerissen oder bedarf es eines neuen Designs? In der <b>Autosattlerei Schneider</b> werden Sie kompetent beraten. 
            Wir bieten Ihnen eine von hoher Qualität geprägte Arbeit an, flexibel und schnellstmöglich. Wir nähen für Sie nach Maßanfertigung aus hochwertigem <b>Kunstleder</b>, <b>Alcantara</b>, 
            <b>Leder</b> und verschiedenen Stoffen Sitzbezüge für: 
          
            - Autos aller Kategorien (Oldtimer, Landmaschinen, etc.)
       
            - <b>Motorräder (Sitzbänke)</b></p>

     
      <p title="quality leather craftmanship">Unsere <b>Sattlerei garantient</b> die <b>Verarbeitung</b> des eingesetzten Materials <b>in bester Qualität</b>. Ob rote, blaue, weiße, gelbe oder 
        schwarze Nähte, alles ist möglich. Wir haben für Sie alle originalen Farben, Leder und Garne.</p>
     
      <p title="Autosattlerei Schneider has a lot to offer">Perforationen sind in vielen unterschiedlichen Ausprägungen möglich. Eine Autoinneneinrichtung kann außer schwarz und grau auch farbenfroh, gern mit ein paar Streifen, etc. 
        gestaltet werden. Gerade für jemanden, der viel Zeit im Auto verbringt, könnte Inspiration und Motivation für den ganzen Tag sein.</p>
        </figcaption>
      </figure>
    </div>

 <div class="as-cover-image col-md">
      <figure class="figure figure-right">
        <img src="./assets/img/homepage-images/Autosattlerei-Schneider_Sitzbezug.jpg" alt="Autosattlerei Schneider Sitze" class="figure-img img-fluid">
        <figcaption class="figure-caption caption-right"><p>AUTOSATTLEREI</p> <p>SCHNEIDER</p></figcaption>
      </figure>
    </div>
  </section>

   <section class="service-container section-2">
     <h1><b>LEISTUNGEN</b></h1>

     <div class="service-content">
       <div class="column service-type-1 service" id="reparatur">
         <span class="stroke-text stroke-text-dark">01</span>
         <h2 title="Sitzbezuege aller Art"><b>Reparatur</b></h2>
         <span class="divider"></span>
         <p>Reparaturen von Sitzen (Schaumstoff) und Bezügen</p>
       </div>

       <div class="column service-type-2 service" id="neubezug">
         <span class="stroke-text stroke-text-dark">02</span>
         <h2 title="Reparatur der Sitze und vieles mehr"><b>Neubezug</b></h2>
         <span class="divider"></span>
         <p>Lenkräder nach eigenen Vorstellungen neu beziehen</p>
       </div>

       <div class="column service-type-3 service" id="einrichtung">
         <span class="stroke-text stroke-text-dark">03</span>
         <h2 title="Beratung um Leistungen und Produkte"><b>Einrichtung</b></h2>
         <span class="divider"></span>
         <p>Komplette Inneneinchtung (Türverkleidung, Armaturenbrett, Himmel, Teppiche)</p>
       </div>
     </div>

     <a routerLink="/contact-form" class="sigma_btn-custom secondary" id="contactFormBtn">
       Zum Kontaktform <i class="far fa-plus"></i>
     </a>

   </section> 

</div>
