// screen sizes
$sm: 576px;
$med: 768px;
$lg: 992px;
$xl: 1200px;

$p-size-rg: 100%;
$p-size-lg: 125%;
$h-size-rg: 125%;

// browser support

@mixin crossBrowser($property, $cssVal) {
	-webkit-#{$property} :$cssVal;
	-moz-#{$property} : $cssVal;
	-o-#{$property} : $cssVal;
	#{$property} : $cssVal;
}

@mixin reset {
	p {
		font-size: $p-size-rg; //16px
		line-height: 1;
	}

	h1, h2, h3 {
		font-size: $h-size-rg;
		font-weight: 600;
	}
}


.home-intro {
	align-items: center;
	max-width: 150rem;
	margin: auto;
	
	.autosattlerei-logo {
		line-height: 2;
		p {
			font-size: $p-size-lg;
			max-width: 27rem;
			text-align: start;
			margin: 30px auto;
		}
		.figure-left {
			.img-fluid {
				width: 30%;
				margin: 3rem;
			}
		}
	}
	
	.figure {
		position: relative;
		text-align: center;
		width: 100%;
    }
		
		
		.figure-left {
			.caption-center {
				color: #000;
				h1 {
					max-width: 50rem;
					margin: auto;
					font-size: 350%;
					text-align: initial;
				}
			}
		}		
        
    .figure-right {
            float: right;

            .caption-right {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                color: #ffffff00;
                font-size: 700%;
                -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: white;
                writing-mode: vertical-rl;
                
                p {
                    margin: 0;
                    line-height: 1;
                }
            }
        }
}





.service-container {
	@include crossBrowser(display, flex);
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	margin-top: 10rem;
	background-image: url("../../assets/img/homepage-images/Autosattlerei-Schneider-interior.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 40rem;
	max-height: 60rem;
	margin: 10rem auto 3rem;
	max-width: 150rem;
	h2, p {
		color: #000;
		font-size: $p-size-lg;
	}
	h1 {
		font-weight: 100;
		color: #ffffff00;
		font-size: 700%;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: white;

	}
	.service-content {
		display: flex;
		width: 100%;
		flex-flow: wrap;
		max-width: 125rem;
		margin: 0 auto;

		.column {
			background-color: #fff;
			margin: 15px;
			float: left;
			flex: 1;
			padding: 15px;

			.divider {
				display: block;
				width: 80%;
				border: 1px solid #d5af8d;
				margin: 1rem auto;
			}
		}
	}

	.service-type-3 a {
		text-decoration: none;
		color: #ff6c4b;
		font-weight: 400;
		font-size: 125%;
		&:hover {
			color: #ff0808;
			font-weight: 900;
		}
	}
}

@media (max-width: $xl) {
    .caption-right p {
        font-size: 80%;
    }
}

@media (max-width: $lg) {

	.home-intro {
		.figure.figure-left {
			h3 {
				font-size: 125%;
			}
			
			.caption-center {
				h1, p {
					font-size: 125%;
				}
			}
		}
	}
	
	.caption-right p {
        font-size: 60%;
	}
	

    .service-container {
        margin-top: 2rem;
        min-height: 35rem;
        h1 {
			font-size: 150%;
			margin-top: .5rem;
			-webkit-text-stroke-width: 1px;
			font-weight: 100 !important;
		}
    }
}

@media (max-width: $med) {
	div.col-md, section {
		line-height: 1;
		font-size: $p-size-rg;

		p:not(.caption-right p) {
			font-size: $p-size-rg;
		}
		.caption-right p {
			font-size: 36px;
		}

		.figure-left {
			@include reset;
		}
	}

	.service-container {
		.service-type-3 a {
			font-size: 100%;
		}
	}

	.homepage-container {
		@include reset;
	}
}

@media (min-width: 1200px) {
	.homepage-container.container {
		max-width: 100rem;
	}
}
