<div class="homepage-container container col-md-12">

  <section class="home-intro section-1 row">  
    <div class="autosattlerei-logo col-md">
      <figure class="figure figure-left">
        <h3 title="Willkommen bei Autosattlerei-Schneider">Autosattlerei Schneider - wir sind der erste und 
          direkte Ansprechspartner rund um Lederhandwerk und Autositze
        </h3>
        <img src="./assets/img/homepage-images/AS-logo3.png" alt="Autosattlerei-schneider logo" class="figure-img img-fluid">
        <figcaption class="figure-caption caption-center">
          <!-- <h3>Autosattlerei Schneider -</h3> -->
          <h1 class="homepage-text-title" title="exklusive auto und motorrad sitzbezuege"><b>EXKLUSIVE AUTO UND MOTORRAD SITZBEZUEGE</b></h1>
          <p class="homepage-info" title="Leistungskategorien">euer Sitze sind veraltet, gerissen oder
            neues Design bedürftigt- <b>Sitzbezüge</b> der
            Fahrzeuge wie <b>Autos</b>, <b>Motorräder</b> sowie <b>Boote</b>
            und <b>Flugzeuge</b>. <b>Autosattlerei Schneider</b>
            arbeitet mit Leder, Kunstleder, Alcantara. Alles ist möglich.</p>
        </figcaption>
      </figure>
    </div>

    <div class="as-cover-image col-md">
      <figure class="figure figure-right">
        <img src="./assets/img/homepage-images/Autosattlerei-Schneider_Sitzbezug.jpg" alt="Autosattlerei Schneider Sitze" class="figure-img img-fluid">
        <figcaption class="figure-caption caption-right"><p>AUTOSATTLEREI</p> <p>SCHNEIDER</p></figcaption>
      </figure>
    </div>
  </section>

  <section class="service-container section-2">
    <h1><b>LEISTUNGEN</b></h1> 

  <div class="service-content">
    <div class="column service-type-1">
      <h2 title="Sitzbezuege aller Art"><b>SITZBEZUEGE</b></h2>
      <p>SOWOHL FÜR AUTO ALS AUCH FÜR MOTORRAD
        WERDEN DIE SITZE NACH DEM KUNDEWUSCH 
        NEU MIT ECHTLEDER; kUNSTLEDER, ALCANTARA ODER SONSTIGES BEZOGEN</p>
    </div>

    <div class="column service-type-2">
      <h2 title="Reparatur der Sitze und vieles mehr"><b>REPARATUR</b></h2>
      <p>SITZE KAPUTT? SELBER SCHULD- WENIGER 
        DEN ARSCH IN DIE SITZE REIBEN</p>
    </div>

    <div class="column service-type-3">
      <h2 title="Beratung um Leistungen und Produkte"><b>BERATUNG</b></h2>
      <p>Weißt nicht was du willst? Beratung rund um Design, Sitzbezüge, Preise usw</p>
      <a href="#">KONTAKT</a>
    </div>

  </div>
  </section>

</div>