* {
  margin: 0;
}

html, body {
  height: 100%;
}

.container-fluid {
    /*padding-bottom: 8rem;*/
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  z-index: 2;
}

.footer-wrapper-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-image {
  width: 30%;
  min-width: 3rem;
  max-width: 6rem;
  margin-top: 2px;
}

.next-to {
  display: inline-block;
  padding-left: 15px;
}

p.custom-primary.fw-600 {
    text-align: left;
}

.footer-service-list li {
  display: inline-block;
}

.footer-container-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-contact-item {
    margin-right: 30px;
}

.line {
  border: 1px solid brown;
  margin: 15px auto 30px auto;
  max-width: 200rem;
  width: 90%;
  display: block;
}

@media screen and (min-width: 992px) {
  .container-fluid {
    padding-bottom: 7rem;
  }
}

  @media screen and (max-width: 992px) {

    .container-fluid {
      padding-bottom: 8rem;
    }

    .body-content {
      height: auto;
    }

    .footer-wrapper-top {
      height: 2px;
      overflow: hidden;
    }

      .footer-wrapper-top:hover {
        height: auto;
      }

    .sigma_footer.sigma_footer-dark .sigma_footer-bottom {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 641px) {

    .container-fluid {
      padding-bottom: 6rem !important;
    }
  }
