<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#"><img src="./assets/img/homepage-images/AS-logo3.png" alt="Autosattlerei-Schneider"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/picture-gallery">Gallerie</a>
      <a class="nav-item nav-link" routerLink="/contact-form">Kontakt</a>


      <!--<div class="sigma_header-controls sigma_header-button">-->
        <a href="tel:+4915170313000" class="sigma_header-contact">
          <i class="flaticon-telephone"></i>
          <div class="sigma_header-contact-inner">
            <h6 class="tel-no">+49 1517 0313000</h6>
          </div>
        </a>
      <!--</div>-->



    </div>
  </div>
</nav>
